div {
    display: flex;
    width: 150px;
    height: 150px;
    background: #900 ;
    margin: 20px;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
}